body {
    font-family: sans-serif,'Poppins';
    background-color: aliceblue;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1,h2 {
    font-weight: 700;
}
p{
    font-weight: 400;
}
a{
    color: cornflowerblue;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;

}
header{
    background: linear-gradient(to right, #edb303de,rgba(231, 136, 4, 0.906));
    color: #ebe9e5;
    padding: 40px 0;
    text-align: center;
}
section{
    padding: 20px;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgb(0,0,0,0.2);
}
hr{
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid rgb(217, 215, 215);
}
#icon-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 20px;
    color: rgb(237, 233, 233);
    font-size: 24px;
    transition: transform 0.3s ease;
    
}
#email-icon{
    background-color: rgb(255, 89, 0);
}
#linked-icon{
    background-color: rgb(37, 121, 248);
}
form{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 5px 15px rgb(0,0,0,0.1);

}
form input[type="text"],
form input[type="email"],
form textarea{
    width: calc(100%-20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
form button{
    background:linear-gradient(to right, yellow,orange);
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;

    width: 50%;

}
form button:hover
{
    background:linear-gradient(to right,#ffa500 ,#ffff00);
    color: black;
}
footer{
    background: linear-gradient(to right, yellow,orange);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}