body {
    font-family: 'popins',sans-serif;
    background-color: aliceblue;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1,h2 {
    font-weight: 700;
}
p{
    font-weight: 400;
}
a{
    color: cornflowerblue;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;

}
header{
    background: linear-gradient(to right, #edb303de,rgba(231, 136, 4, 0.906));
    color: #ebe9e5;
    padding: 40px 0;
    text-align: center;
}
section{
    padding: 20px;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgb(0,0,0,0.2);
}
form{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 5px 15px rgb(0,0,0,0.1);

}
form input[type="text"],
form input[type="email"],
form textarea{
    width: calc(100%-20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
form button{
    background: rgb(5, 102, 228);
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;


}
footer{
    background: linear-gradient(to right, yellow,orange);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}